/*!******************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss ***!
  \******************************************************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes Medium";
  src: url(../fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes Bold";
  src: url(../fonts/TTLakes-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* Цвет таблицы */
/* Цвет граней */
/* Цвет элементов заголовка */
.header {
  height: 88px;
  background-color: #fff;
  box-shadow: 0 1px #d9fff5; }

.container {
  padding: 0 16px; }

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__inner .burger__logo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__inner .logo {
    padding-left: 16px; }

.left__menu {
  display: none; }

.right__menu {
  display: flex;
  justify-content: flex-end; }
  .right__menu .btn__repair::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    position: absolute;
    transform: translateY(-15px) translateX(-37px); }
  .right__menu .btn__repair:hover::after {
    transform: scale(1) translateY(-14px) translateX(-31px); }

@media (min-width: 768px) {
  .left__menu {
    display: flex;
    justify-content: flex-end; }
    .left__menu .main__btn {
      margin-right: 24px;
      margin-left: 0px; }
      .left__menu .main__btn:last-of-type {
        margin-right: 10px; }
  .menu {
    display: flex;
    justify-content: flex-end; }
  .menu__burger {
    padding-right: 14px; }
    .menu__burger::after {
      content: "";
      width: 2px;
      height: 32px;
      top: 28px;
      left: 70px;
      background-color: #eaeaea;
      border-radius: 1px;
      position: absolute; } }

@media (min-width: 1120px) {
  .header {
    width: 1120px;
    margin: 0 auto; }
    .header .right__menu {
      display: none; } }
  @media (min-width: 1120px) and (min-width: 1440px) {
    .header {
      display: none; } }

.aside {
  display: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  z-index: 20; }
  @media (min-width: 768px) {
    .aside {
      width: 100%; }
      .aside .aside__wrapper {
        width: 320px;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2), 364px 0px 82px rgba(216, 216, 219, 0.2); } }

.aside__wrapper {
  height: 1024px;
  width: 320px;
  position: relative;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  z-index: 22;
  background-color: #fff; }
  @media (min-width: 360px) {
    .aside__wrapper {
      width: 360px; } }

.burger-head {
  height: 88px;
  margin-bottom: 16px; }
  .burger-head .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.btn__search {
  align-self: flex-end; }

.aside__burger {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.service__list {
  cursor: pointer;
  margin-top: 24px; }
  .service__list li {
    list-style: none;
    margin-bottom: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px; }
    .service__list li:hover {
      background-color: #41f6d7;
      transition: 0.3s; }
      .service__list li:hover > a {
        color: #7e7e82; }
    .service__list li:not(:nth-child(2)) {
      padding-left: 28px; }
    .service__list li:nth-child(2) {
      border-left: 4px solid #41f6d7; }
      .service__list li:nth-child(2) > a {
        color: #7e7e82; }
    .service__list li > a {
      font-family: "TT Lakes Medium";
      font-weight: 500; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 876px; }

.menu__bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .menu__bottom > .main__btn {
    margin-right: 0;
    margin-bottom: 16px; }
    .menu__bottom > .main__btn:last-child {
      margin-left: 24px; }

.contact {
  padding-left: 24px; }

.phone {
  padding-left: 24px;
  font-weight: 700;
  font-family: "TT Lakes Bold";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21; }

.lang {
  padding-left: 24px;
  padding-top: 32px;
  display: inline-block; }
  .lang a:first-child {
    color: #7e7e82; }
  .lang a:hover {
    background-color: #41f6d7; }

.phone:hover,
.contact:hover {
  text-decoration: underline; }

@media (min-width: 1440px) {
  .aside {
    height: inherit;
    width: 320px;
    display: block;
    position: relative;
    background-color: #fff; }
    .aside .aside__wrapper {
      box-shadow: none; }
    .aside .aside__burger > .main__btn {
      display: none; }
  .burger-head .container {
    padding: 0 24px; } }

.show__aside {
  display: block;
  transition: all 0.3s ease-in-out; }

/**/
.services {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: #f8f8f8;
  padding: 24px 0; }
  .services .btn__read-next.show {
    display: block; }
  .services .btn__read-next.show {
    position: relative;
    display: flex;
    width: 134px;
    height: 24px;
    margin: 0;
    border: none;
    background-color: #f8f8f8; }
  .services .btn__read-next.show:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s; }
  .services .btn__read-next.show::before {
    content: attr(data-caption);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    position: absolute;
    left: 28px;
    top: 1px; }
  .services .btn__read-next.show::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/expand.png);
    position: absolute;
    right: 108px; }
  .services .btn__read-next.hide {
    margin: 0;
    position: relative;
    display: flex;
    width: 134px;
    height: 24px;
    border: none;
    background-color: #f8f8f8; }
  .services .btn__read-next.hide:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s; }
  .services .btn__read-next.hide::before {
    content: "Скрыть";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    position: absolute;
    left: 28px;
    top: 1px; }
  .services .btn__read-next.hide::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/expand.png);
    transform: rotate(180deg);
    position: absolute;
    right: 108px; }

.slide__menu {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px; }

.slide__items {
  overflow-y: hidden;
  white-space: nowrap; }

.list__item {
  font-family: "TT Lakes";
  font-size: 16px;
  color: #7e7e82;
  padding: 8px 16px;
  overflow-x: auto;
  display: inline-block;
  text-decoration: none;
  margin: 1px;
  margin-left: 5px; }
  .list__item:hover {
    border: 1px solid #41f6d7;
    border-radius: 6px;
    background-color: #fff;
    margin: -1px;
    margin-left: 5px; }

.item__menu {
  display: none; }

.item__heading {
  padding-bottom: 24px; }
  .item__heading h1 {
    padding-left: 16px;
    font-family: "TT Lakes Bold";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1b1c21; }
    .item__heading h1::after {
      content: "";
      border-left: 8px solid #41f6d7;
      border-radius: 35%;
      position: relative;
      left: -253px; }

.blog {
  height: 322px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap; }

.blog__paragraph {
  padding: 0 16px;
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21; }
  .blog__paragraph:last-of-type {
    display: none; }

.blog__btn {
  min-width: 30px;
  padding: 8px 16px; }

.blog__link--img {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px; }

.blog__link {
  display: inline-block;
  vertical-align: middle;
  font-family: "TT Lakes Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  text-decoration: none;
  margin: 0;
  padding: 0; }

.company__img {
  max-height: 245px; }

@media (min-width: 768px) {
  .services {
    height: 375px; }
  .blog {
    height: 208px;
    width: 100%;
    flex-wrap: wrap; }
    .blog .blog__cont {
      width: 50%; }
  .company__img {
    border-right: 6px;
    max-width: 50%;
    max-height: 100%; } }

@media (min-width: 1120px) {
  .s-header__items {
    padding-right: 32px;
    padding-bottom: 8px;
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .item__heading {
    padding-bottom: 0px; }
  .main__btn {
    margin: 0px; }
  .services {
    padding-top: 0;
    height: 415px; }
    .services .slide__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
  .blog__paragraph {
    padding-bottom: 16px;
    padding-top: 16px; }
    .blog__paragraph:last-of-type {
      padding: 0px 16px;
      display: block;
      overflow-y: hidden;
      max-height: 76px; }
  .item__box {
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .menu__label {
    padding-right: 9px; }
  .item__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center; } }

.service-show {
  height: 705px; }
  .service-show .blog__paragraph:last-of-type {
    display: block;
    margin-top: 14px; }
  @media (min-width: 486px) {
    .service-show {
      height: 645px; } }
  @media (min-width: 768px) {
    .service-show {
      height: 458px; }
      .service-show .blog__paragraph:last-of-type {
        display: block; } }
  @media (min-width: 1120px) {
    .service-show {
      height: 446px; }
    .service-show .blog__paragraph:last-of-type {
      max-height: -webkit-max-content;
      max-height: -moz-max-content;
      max-height: max-content;
      margin-top: 0; } }

.brends__wrapper {
  height: 200px;
  background-color: #f8f8f8;
  overflow-x: hidden; }

.header__brends {
  height: 80px;
  background: linear-gradient(90deg, #f8f8f8 1.39%, #fff 100%);
  text-align: center;
  border-top: 1px solid #b8ffec; }

.header__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  display: block;
  padding: 16px;
  text-align: start;
  white-space: wrap;
  font-weight: normal; }

.brends__container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.brends__box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.brend__item {
  min-width: 240px;
  height: 72px !important;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 0 16px 16px;
  align-items: center;
  white-space: nowrap;
  cursor: pointer; }

.brends__wrapper::after {
  content: "";
  background: none;
  background-image: url(../img/fade.png);
  height: 72px;
  width: 24px;
  z-index: 20;
  position: absolute;
  right: 0px;
  top: 684px; }

.btn__brend {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-right: 16px; }

.brend__img {
  margin-left: 16px; }

.btn__read-next.show {
  display: none; }

@media (min-width: 768px) {
  .brends__wrapper {
    height: 324px; }
    .brends__wrapper::after {
      display: none; }
  .brends__container {
    margin-top: 24px;
    margin-left: 24px; }
  .brends__box {
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 160px; }
  .brend__item {
    margin: 0 22px 24px 0;
    min-width: 224px; }
  .btn__read-next.show {
    position: relative;
    display: flex;
    width: 134px;
    height: 24px;
    margin-top: 24px;
    border: none;
    background-color: #f8f8f8; }
  .btn__read-next.show:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s; }
  .btn__read-next.show::before {
    content: attr(data-caption);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    position: absolute;
    left: 28px;
    top: 1px; }
  .btn__read-next.show::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/expand.png);
    position: absolute;
    right: 108px; }
  .btn__read-next.hide {
    position: relative;
    display: flex;
    width: 134px;
    height: 24px;
    margin-top: 24px;
    border: none;
    background-color: #f8f8f8; }
  .btn__read-next.hide:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s; }
  .btn__read-next.hide::before {
    content: "Скрыть";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    position: absolute;
    left: 28px;
    top: 1px; }
  .btn__read-next.hide::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/expand.png);
    transform: rotate(180deg);
    position: absolute;
    right: 108px; }
  .swiper-pagination {
    display: none; } }

@media (min-width: 1120px) {
  .brends__container {
    margin-top: 24px;
    margin-left: 32px; }
  .brend__item {
    margin: 0 32px 16px 0;
    min-width: 240px; } }

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -4px !important; }

.wrapper--mid {
  height: 526px; }

.section--mid {
  max-height: 361px; }

.wrapper--desc {
  height: 415px; }

.section--desc {
  max-height: 248px; }

.hidden {
  display: none; }

.devices__wrapper {
  height: 285px;
  background-color: #f8f8f8;
  overflow-x: hidden; }
  .devices__wrapper::after {
    content: "";
    background: none;
    background-image: url(../img/fade.png);
    height: 162px;
    width: 24px;
    z-index: 20;
    position: absolute;
    right: 0px;
    top: 883px; }

.header__devices {
  height: 80px;
  background: linear-gradient(90deg, #f8f8f8 1.39%, #fff 100%);
  text-align: center;
  border-top: 1px solid #b8ffec; }

.header__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  display: block;
  padding: 16px;
  text-align: start;
  white-space: wrap;
  font-weight: normal; }

.devices__container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.devices__box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.devices__item {
  min-width: 240px;
  height: 160px !important;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 0 16px 16px;
  align-items: center;
  white-space: nowrap;
  cursor: pointer; }
  .devices__item > p {
    align-self: flex-start;
    margin-left: 16px;
    margin-top: 16px; }
  .devices__item > .btn__brend {
    align-self: flex-end;
    margin-right: 16px;
    margin-bottom: 16px; }

.btn__brend {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  margin-right: 16px; }

.brend__img {
  margin-left: 16px; }

.btn__read-next.show {
  display: none; }

@media (min-width: 768px) {
  .devices__wrapper {
    height: 324px; }
    .devices__wrapper::after {
      display: none; }
  .devices__container {
    margin-top: 24px;
    margin-left: 24px; }
  .devices__box {
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 160px; }
  .devices__item {
    margin: 0 21px 24px 0;
    min-width: 224px; }
  .btn__read-next.show {
    position: relative;
    display: flex;
    width: 134px;
    height: 24px;
    margin-top: 24px;
    border: none;
    background-color: #f8f8f8; }
    .btn__read-next.show:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.3s; }
    .btn__read-next.show::before {
      content: attr(data-caption);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      position: absolute;
      left: 28px;
      top: 1px; }
    .btn__read-next.show::after {
      content: "";
      width: 24px;
      height: 24px;
      background-image: url(../img/expand.png);
      position: absolute;
      right: 108px; }
  .btn__read-next.hide {
    position: relative;
    display: flex;
    width: 134px;
    height: 24px;
    margin-top: 24px;
    border: none;
    background-color: #f8f8f8; }
  .btn__read-next.hide:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s; }
  .btn__read-next.hide::before {
    content: "Скрыть";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    position: absolute;
    left: 28px;
    top: 1px; }
  .btn__read-next.hide::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/expand.png);
    transform: rotate(180deg);
    position: absolute;
    right: 108px; }
  .swiper-pagination {
    display: none; } }

@media (min-width: 1120px) {
  .devices__container {
    margin-top: 24px;
    margin-left: 32px; }
  .devices__item {
    margin: 0 24px 24px 0;
    min-width: 240px; } }

.wrapper--mid {
  height: 515px; }

.section--mid {
  max-height: 348px; }

.wrapper--desc {
  height: 515px; }

.section--desc {
  max-height: 348px; }

.hidden {
  display: none; }

.prices__wrapper {
  height: 556px;
  background-color: #f8f8f8;
  overflow-x: hidden; }

.price,
.time,
.serv,
.apply {
  font-size: 14px;
  line-height: 18px; }

.header__prices {
  height: 80px;
  background: linear-gradient(90deg, #f8f8f8 1.39%, #fff 100%);
  text-align: center;
  border-top: 1px solid #b8ffec; }

.header__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  display: block;
  padding: 16px;
  text-align: start;
  white-space: wrap;
  font-weight: normal; }

.prices__container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.prices__box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.prices__item {
  min-width: 260px;
  height: 200px !important;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 16px 16px;
  align-items: center;
  padding: 16px 0 16px 16px; }
  .prices__item:first-child {
    display: none; }

.btn__offer {
  width: 119px;
  height: 32px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  background-image: url(../img/offer.png);
  background-repeat: no-repeat;
  cursor: pointer; }

@media (min-width: 768px) {
  .prices__wrapper {
    height: 625px; }
  .price {
    width: 100%;
    max-width: 100px; }
  .time {
    max-width: 100px; }
  .serv {
    width: 100%;
    max-width: 280px;
    white-space: wrap; } }
  @media (min-width: 768px) and (min-width: 1056px) {
    .serv {
      white-space: nowrap; } }

@media (min-width: 768px) {
  .prices__container {
    margin-top: 24px;
    margin-left: 24px; }
  .prices__box {
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 590px; }
  .prices__item {
    width: 100%;
    margin: 0 21px 0 0;
    min-width: 720px;
    height: 64px !important;
    align-items: center; }
    .prices__item:first-child {
      display: flex;
      background-color: #f8f8f8;
      border: none; }
      .prices__item:first-child .btn__offer {
        display: none; }
  .price,
  .time,
  .serv,
  .apply {
    display: block;
    align-self: baseline;
    height: 32px !important; }
  .swiper-pagination {
    display: none; } }

@media (min-width: 1120px) {
  .prices__container {
    margin-top: 24px;
    margin-left: 32px; }
  .prices__item {
    min-width: 1038px;
    justify-content: space-between; } }

.hidden {
  display: inline-block;
  display: none; }

.serv {
  display: inline-block;
  width: 228px;
  height: 56px; }

.price {
  display: inline-block;
  width: 228px;
  height: 56px; }

.time {
  display: inline-block;
  width: 81px;
  height: 32px; }

.apply {
  display: inline-block;
  width: 119px;
  height: 32px; }

.nds {
  margin: 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  white-space: wrap; }

.offer {
  margin: 0 16px 16px 16px;
  font-family: "TT Lakes Medium";
  white-space: wrap; }
  .offer span {
    color: #ff0000; }

.footer {
  padding: 16px 24px;
  color: #7e7e82;
  background-color: #f8f8f8;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #b8ffec; }
  .footer > .footer__text {
    display: inline-block;
    text-align: center;
    margin-top: 16px; }

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
    .footer > .footer__text:first-child {
      text-align: left;
      max-width: 218px; }
    .footer > .footer__text:last-child {
      text-align: right;
      max-width: 214px; } }

@media (min-width: 1120px) {
  .footer > .footer__text:last-child {
    max-width: 330px; } }

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.modal {
  padding: 16px;
  background-color: #fff;
  width: 320px;
  height: 676px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }
  .modal .form-wrapper {
    width: 288px; }
    .modal .form-wrapper p {
      margin-bottom: 16px; }
  .modal a {
    color: #ff0000; }
  .modal textarea {
    display: inline-block;
    margin: 10px auto;
    width: 288px; }
  .modal input {
    display: inline-block;
    margin: 10px auto;
    width: 288px;
    height: 48px; }
  .modal input:invalid {
    box-shadow: 0 0 2px #ff0000; }
  @media (min-width: 768px) {
    .modal {
      margin: auto;
      width: 458px;
      height: 100%;
      max-height: 676px;
      top: 0;
      right: 0;
      position: absolute;
      padding: 0; }
      .modal .form-wrapper {
        width: 376px;
        border-radius: 8px 0 0 8px; }
        .modal .form-wrapper p {
          margin-bottom: 16px; }
      .modal textarea {
        width: 376px;
        border-radius: 8px;
        border: 1px solid #b5b6bc;
        color: #7e7e82; }
      .modal input {
        display: inline-block;
        width: 376px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid #b5b6bc;
        color: #7e7e82; }
      .modal .btn-send {
        position: relative;
        right: -225px !important; } }
  .modal .btn-send {
    background-image: url(../img/btn-send.png);
    width: 136px;
    height: 32px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    right: -150px; }
  .modal > h2 {
    font-family: "TT Lakes Medium"; }

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  z-index: 25; }

.modal--visible {
  display: block; }
  @media (min-width: 768px) {
    .modal--visible {
      display: flex;
      justify-content: space-between;
      background-color: transparent; }
      .modal--visible .header-modal {
        align-self: self-start; }
      .modal--visible .form-wrapper {
        width: 408px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #fff;
        height: 100%; }
        .modal--visible .form-wrapper > h2 {
          margin-top: 16px; } }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*:focus {
  outline: 2px solid transparent; }

body {
  overflow-anchor: none;
  margin: 0;
  font-family: "TT Lakes";
  color: #1b1c21;
  background-color: #efefef;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input,
textarea {
  width: 100%; }

textarea {
  resize: none; }

/*Меняем цвет плейсхолдера в инпуте Сафари и Хром*/
/*Меняем цвет плейсхолдера в инпуте для Мозилы */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cacaca; }

input:focus,
textarea:focus {
  outline: none; }

footer {
  background: #1b1c21; }

.is--hidden {
  display: none !important; }

.btn--reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer; }

.main__btn {
  cursor: pointer;
  margin: 24px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px; }
  .main__btn:last-child {
    margin-left: 0px;
    margin-right: 0px; }
  .main__btn:hover {
    transform: scale(1.2); }

.btn__check {
  background-image: url(../img/checkstatus.png); }

.btn__repair {
  background-image: url(../img/repair.png); }

.burger__btn {
  background-image: url(../img/burger.png); }

.btn__profile {
  background-image: url(../img/profile.png); }

.btn__chat {
  background-image: url(../img/chat.png); }

.btn__call {
  background-image: url(../img/call.png); }

.btn__search {
  background-image: url(../img/search.png); }

.burger__btn-close {
  margin-left: 0;
  background-image: url(../img/burger_close.png); }

.btn:active,
.btn:focus {
  outline: none; }

.error {
  border: 2px var(--error-red) solid !important; }

.site-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: 0 auto; }

.main__content {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto; }


/*# sourceMappingURL=main.css.map*/